---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Allow all user agents to crawl the site
User-agent: *
Allow: /

# Point crawlers to the sitemap
Sitemap: {{ site.url }}/sitemap.xml
