<!DOCTYPE html>
<html lang="de">
<head>
 {% include "partials/head.njk" %}

 {% block css %}
 <link rel="stylesheet" href="/css/main.css">
 <link rel="stylesheet" href="/css/client.css">
 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
 <link rel="stylesheet" href="/css/components.css">
 <link rel="stylesheet" href="/css/utils.css">
 {% endblock %}
</head>

{% set bodyClasses = [page.fileSlug] %}
{% if bodyClass %}{% set bodyClasses = bodyClasses | push(bodyClass) %}{% endif %}
<body id="top" class="{{ bodyClasses | join(' ') }}">
 <a href="#main-content" class="skip-link">Skip to main content</a>

 <div class="page-right-background-image"></div>
 <div class="page-complete-background-image"></div>

 <main id="main-content">
   {% block content %}{% endblock %}
 </main>

 {% include "partials/footer.njk" %}
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
 <script src="/js/main.js" defer></script>
</body>
</html>