{% extends "layouts/default-home.njk" %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
  {% include "sections/hero-home.njk" %}

  <section id="intro-section" class="intro-with-header">
    {% include "partials/header.njk" %}
    <div class="header-placeholder"></div>

    {% include "sections/intro-home.njk" %}
  </section>

  {% include "sections/services-home.njk" %}
  {% include "sections/about-home.njk" %}
  {% include "sections/testimonials-home.njk" %}
  {% include "sections/cta-home.njk" %}
  {% include "sections/contact-home.njk" %}
{% endblock %}