
<div class="fixed-contact-icons">
  <ul>
    <li><a href="tel:{{ site.contact.phoneLink }}" aria-label="Anrufen"><img src="{{ '/img/icons/phone.svg' | url }}" alt="Telefon Icon" /></a></li>
    <li><a href="mailto:{{ site.contact.email }}" aria-label="E-Mail schreiben"><img src="{{ '/img/icons/mail.svg' | url }}" alt="E-Mail Icon" /></a></li>
    <li><a href="https://wa.me/{{ site.contact.whatsappLink }}" aria-label="WhatsApp Nachricht"><img src="{{ '/img/icons/whatsapp.svg' | url }}" alt="WhatsApp Icon" /></a></li>
  </ul>
</div>