<header>

  <!-- Left side navigation -->
  <nav class="site-navigation site-navigation--left" id="mobile-menu-left">
    <ul>
      <li><a href="{{ '/' | url }}">wir sind</a></li>
      <li><a href="{{ '/services' | url }}">wir können</a></li>
      <li><a href="{{ '/services' | url }}">andere sagen</a></li>
    </ul>
  </nav>

  <!-- Centered Logo -->
  <div class="header-logo">
    <a href="{{ '/' | url }}">
      <img src="{{ site.logo_path | url }}" alt="DACOSTA Gebäude- & Industrieservice Logo - Gebäudereinigung in Bremen" />
    </a>
  </div>

  <!-- Right side navigation -->
  <nav class="site-navigation site-navigation--right" id="mobile-menu-right">
    <ul>
      <li><a href="{{ '/about' | url }}">oft gefragt</a></li>
      <li><a href="{{ '/faq' | url }}">blog</a></li>
      <li><a href="{{ '/contact' | url }}">kontakt</a></li>
    </ul>
  </nav>



  <button class="nav-toggle" id="mobile-menu-button" aria-label="Navigation öffnen/schließen" aria-expanded="false" aria-controls="mobile-menu">
    <span class="hamburger-icon" id="menu-icon"></span>
  </button>
</header>