<header>
  <div class="header-logo">
    <a href="{{ '/' | url }}">
      <img src="{{ site.logo_path | url }}" alt="Haarmanufaktur Suszan Logo - Friseur in Traunstein" />
    </a>
  </div>

  <nav class="site-navigation" id="mobile-menu">
    <ul>
      <li><a href="{{ '/' | url }}">Startseite</a></li>
      <li><a href="{{ '/services' | url }}">Services</a></li>
      <li><a href="{{ '/about' | url }}">Über uns</a></li>
      <li><a href="{{ '/faq' | url }}">FAQ</a></li>
      <li><a href="{{ '/contact' | url }}">Kontakt</a></li>
    </ul>
  </nav>

  <div class="header-contact">
    <ul>
      <li><a href="tel:{{ site.contact.phoneLink }}" aria-label="Anrufen"><img src="{{ '/img/icons/phone.svg' | url }}" alt="Telefon Icon" /></a></li>
      <li><a href="mailto:{{ site.contact.email }}" aria-label="E-Mail schreiben"><img src="{{ '/img/icons/mail.svg' | url }}" alt="E-Mail Icon" /></a></li>
      <li><a href="https://wa.me/{{ site.contact.whatsappLink }}" aria-label="WhatsApp Nachricht"><img src="{{ '/img/icons/whatsapp.svg' | url }}" alt="WhatsApp Icon" /></a></li>
    </ul>
  </div>

  <button class="nav-toggle" id="mobile-menu-button" aria-label="Navigation öffnen/schließen" aria-expanded="false" aria-controls="mobile-menu">
    <span class="hamburger-icon" id="menu-icon"></span>
  </button>
</header>