<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% include "partials/seo.njk" %}

<!-- Favicon -->
<link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/img/favicons/favicon.svg" />
<link rel="shortcut icon" href="/img/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
{# The favicon.ico is already covered by shortcut icon or other png/svg versions.
   If you specifically need /img/favicon.ico, ensure it's distinct from /img/favicons/favicon.ico #}
